/restores
/nwjs_lin
/nwjs_win
/nwjs_lin_sdk
/nwjs_win_sdk
/wrap_lin
/wrap_win
/dist/app_lin/*
/dist/app_win/*
/scripts
/styles
/images
/sw.js
/index.html
/make_js.py
/manifest.json
/package.json
/dist/package.json
/restore_data.py
/dist_arch/app_lin.zip
/dist_arch/app_win.zip